.App {
  text-align: center;
}

.app-main-image {
  cursor: pointer;
  user-select: none;
}

.selector-display-box {
  position: absolute;
  border: 5px solid red;

  user-select: none;
}

.narwhal-choices {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
}

.narwhal-choices-button {
  padding: .5rem;

}