.app {
  width: 100vw;
  min-height: 100vh ;
  text-align: center;
  background-color: rgb(122,165,168);
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(84, 113, 115, 0.625);
}

.app-header-game-info {
  display: flex;
  justify-content: center;
  gap: 2rem;

  font-weight: bold;
}

.app-main {
  padding: 4rem;
}

.app-main-image {
  cursor: pointer;
  user-select: none;
  max-width: 80vw;
}

.app-main-image-legend {
  position: absolute;
}

.selector-display-box {
  position: absolute;
  border: 5px solid red;

  user-select: none;
}

.narwhal-choices {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
}

.narwhal-choices-button {
  padding: .5rem;

}