.app {
  min-height: 100vh;
  text-align: center;
  background-color: rgb(122, 165, 168);

  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(84, 113, 115, 0.625);
}

.app-header-game-info {
  display: flex;
  justify-content: center;
  gap: 2rem;

  font-weight: bold;
}

.app-main {
  padding: 4rem;
}

.app-main-image {
  cursor: pointer;
  user-select: none;
  max-width: 80vw;
}

.app-main-image-legend {
  position: absolute;
}

/* Selector Styles */

.selector-display-box {
  position: absolute;
  border: 5px solid red;

  user-select: none;
}

.narwhal-choices {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
}

.narwhal-choices-button {
  padding: 0.5rem;
}

/* Winner Styles */

.app-winner-name-request {
  width: 200px;
  height: 50px;
  padding: 1rem;
  position: fixed;
  z-index: 1;

  top: calc(50% - 25px);
  left: calc(50% - 100px);

  background-color: rgb(84, 113, 115);
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
}

.app-winner-name-request-input {
  padding: 5px;
}

.app-game-won {
  opacity: 50%;
  z-index: 0;
  cursor: default;
}

.app-winner-board {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: 1;

  top: 4rem;
  left: calc(50% - 200px);

  background-color: rgb(84, 113, 115);
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
}

.app-winner-board-title {
  text-decoration: underline;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.app-winner-board-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.app-winner-board-list-item {
  margin-bottom: 1rem;
  text-align: start;
}
